/* universal */
*{
    padding: 0;
    margin: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box; 
}
body{
    background-color:black;
    color: white;

}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/PK-en-20231204-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.logo{
    width: 150px;
    cursor: pointer;
}
nav button{
    border: 0;
    outline: 0;
    background-color: #db0001;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
}
.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 100px;
}
.header-content h1{
    line-height: 70px;
    font-size: 60px;
    max-width: 650px;

}
.header-content h3{
    font-weight: 400;
    margin-bottom: 20px;
}
.email-signup{
    background: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}
.email-signup input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-top: 5px;
}
.email-signup button{
    background: #db0001;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 16px;
}
/* -------features-------------- */
.features{
    padding: 50px 12%;
    font-size: 22px;
}
.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}
.text-col{
    flex-basis:50%;
    margin-bottom: 20px;
}
.img-col{
    flex-basis:50%;
    margin-bottom: 20px;
}
.img-col img{
    display: block;
    width: 90%;
    margin: auto;
    background-image: url(images/pic1.jpg);
    background-size:cover;
}
.features h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}
/* ----------faq-------------- */
.faq{
    padding: 10px  12%;
    text-align: center;
    font-size: 18px;
}
.faq h2{
    font-size: 40px;
    font-weight: 500;
}
.accordian{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;

}
.accordian li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.accordian li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
}
label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.1s;    
}
input[type="radio"]{
    display: none;
}
.accordian .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
}
.accordian input[type="radio"]:checked + label +.content{
    max-height: 600px;
    padding: 30px 20px;
    transition: max-height 0.5s, padding 0.5s;
}
.accordian input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}
.faq .email-signup{
    max-width: 600px;
    margin: 20px auto 60px;
}

.faq small{
    font-size: 16px;
}
/* footer */
.footer{
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color: #777;
}
.footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    color: rgb(181, 175, 175);
}
.footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
    font-weight: 400;
}
.footer .col a{
    display: block;
    color: rgb(181, 175, 175);
    font-size: 14px;
    margin-bottom: 10px;
    align-items: center;
    font-weight: 500;
}
.footer .row {
    align-items: flex-start;
    padding: 10px 0;
}
.language-btn {
    background-color: black;
    color: #fff;
    padding: 7px 35px;
    border-radius: 10px; 
    border: 3px solid white;
    cursor: pointer;

}
.copyright-text{
    font-size: 14px;
    margin-top: 17px;
    margin-bottom: 10px;
    color:  rgb(181, 175, 175);
}
/* media-queries------------ */
@media only screen and (max-width:600px){
    .logo{
        width: 100px;
    }
    nav button{
        padding: 5px 10px;
    }
    .header-content{
        position: unset;
        transform: none;
        padding-top: 150px;
    }
    .header-content h1{
        font-size: 30px;
    }
    .email-signup button{
        font-size: 12px;
        padding:  10px 15px;
    }
    .text-col,.img-col{
        flex-basis: 100%;
    }
    .features h2{
        font-size: 30px;
    }
    .features h2 p{
        font-size: 15px;
    }
    .row:nth-child(2),.row:nth-child(4){
        flex-direction: column-reverse;
    }
    .features .row{
        padding: 10px 0;
    }
    .faq h2{
        font-size: 20px;
    }
    .accordian .content{
        font-size: 14px;
    }
    .accordian li label{
        padding: 10px;
        font-size: 14px;
    }
    label::after{
        font-size: 22px;
    }
    
}
